{%  extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="row">
                    <div class="col-12">
                        <h2 id="title1">A votre tour de créer votre Bucket List!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}