{%  extends 'base.html.twig' %}

{% block title %}Liste des rêves{% endblock %}

{% block body %}
    <section class="container">
        <h2 id="title1">A propos du:</h2>
        <div class="container-fluid">
            <h3 id="title1">Rêve 1</h3>
            <ul>
                <li>categorie:</li>
                <li>date d'ajout à la liste:</li>
                <li>date de réalisation:</li>
                <li>commentaires:</li>
            </ul>
        </div>
    </section>
{% endblock %}