{%  extends 'base.html.twig' %}

{% block title %}Liste des rêves{% endblock %}

{% block body %}
    <section class="container">
        <h2 id="title1">A propos du rêve:</h2>
        <div class="container-fluid">
            <h3 id="title1">{{ detail.title }}</h3>
            <p>il a été déposé le {{ detail.dateCreated|date("d/m/Y") }} par {{ detail.author }}.</p>
            {% if detail.isPublished %}
                <p>Publication en cours.</p>
            {% else %}
                <p>Publication expirée.</p>
            {% endif %}
            {% if detail.description %}
                <p>description: {{ detail.description }}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}