{%  extends 'base.html.twig' %}

{% block title %}Liste des rêves{% endblock %}

{% block body %}
    <section class="container">
        <h2 id="title1">Liste de rêves à réaliser!</h2>

        <a href="{{ path('wish_list', {'page': currentPage+1}) }}">page suivante</a>

        <div class="container-fluid">
            <ul>
                {% for wish in wishes %}
                <a href="{{ path('wish_detail', {'id': wish.id}) }}"><li>{{ wish.title }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}