{%  extends 'base.html.twig' %}

{% block title %}Liste des rêves{% endblock %}

{% block body %}
    <section class="container">
        <h2 id="title1">Liste de rêves à réaliser!</h2>
        <div class="container-fluid">
            <ul>
                {% for wish in wishes %}
                <li>{{ wish.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}