{%  extends 'base.html.twig' %}

{% block title %}Liste des rêves{% endblock %}

{% block body %}
    <section class="container">
        <h2 id="title1">Liste de rêves à réaliser!</h2>
        <div class="container-fluid">
            <ul>
                <li>rêve 1</li>
                <li>rêve 2</li>
                <li>rêve 3</li>
                <li>rêve 4</li>
                <li>rêve 5</li>
                <li>rêve 6</li>
                <li>rêve 7</li>
                <li>rêve 8</li>
                <li>rêve 9</li>
                <li>rêve 10</li>
            </ul>
        </div>
    </section>
{% endblock %}